<div class="row">
  <% @listings.each do |listing| %>
      <div class="col-md-3">
        <div class="thumbnail">
           <%= link_to image_tag(listing.image.url), listing %>
          <div class= "caption">
              <h3><%= listing.title %></h3>
              <h3><%= listing.user.name %></h3>
              <p><%= number_to_currency(listing.price) %></p>
              <p><%= listing.time %></p>
              <p><%= listing.date %></p>
              <p><%= listing.venue_name %></p>
              <p><%= listing.location %></p>
              
              <% if (user_signed_in?) && (current_user == listing.user) %>
              <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %>
              <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
              <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
<% end %>
